.home {
    text-align: center;
}

.contenido {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 15px;
    
}

.articulo {
    text-align: justify;
    max-width: 260px;
    height: 280px;
    background: rgba(255, 255, 255, .05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    padding: 5%;
}

