html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.layout {
    overflow-x: hidden;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: 10% 1fr auto;
    gap: 5px ;
    height: 100vh;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
    margin-top: 45px;
    height: 100%; 
}

.footer {
    grid-area: footer;
}
