body, html, h1 {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 2%;
    margin-bottom: 15px;
    background-color: cadetblue;
}

/***Formulario tarjetas***/
.section.form,.tarjeta {
    padding: 4px;
    margin: auto;
    max-width: 270px;
    text-align: center;
    border-radius: 46px;
    background: linear-gradient(145deg, #cacaca, #fefefe);
    box-shadow:  17px 17px 34px #8f8f8f,
                 -17px -17px 34px #ffffff;
}

input#equipo {
    width: 15px;
}

input#pais {

    width: 15px;
}

input#nombre {
    width: 50px;
}


/***Cabecera***/

.superior {
    display: grid;
    grid-template-columns: 20% auto;
    justify-content: center;
    align-items: center;
}

.iconos {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 255, 0.2);
    backdrop-filter: blur(2px);
    border-radius: 15px;
}

.iconos label {
    cursor: pointer;
}


.superior #pais {
    display: none;
}

.superior #equipo {
    display: none;
}

.superior img:nth-of-type(1) {
    height: 25px;
}


.superior img:nth-of-type(2) {
    height: 25px;
}

.fondo {
    background: url(../assets/images/benzema.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -15;
    width: 150px;
    height: 150px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    clip-path: polygon(0 0, 100% 0, 50% 110%);
}

#nombre{
    margin-top: 4px;
    border: none;
}



/**Habilidades**/
div.habilidades {
    display: grid;
    grid-template-columns: 25% 25%;
    justify-content: center;
    align-items: center;

}
::placeholder {
    text-align: center; 
 }
 

div.habilidades .block1, div.habilidades .block2 {
    width: min-content;
    margin: auto;
}

div.habilidades input,div.habilidades p {
    width: 55px;
    margin-top: 2px;
    border: none;
    background-color: rgba(0, 0, 255, 0.2);
    backdrop-filter: blur(2px);
    border-radius: 15px;
}

button, .habilidades, .img {
    margin-top: 15px;
}


/**Boton chulo**/

button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
   }
   
   button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }
/***Jugadores creados***/

.cabeceraTarjetas,#tarjetas,.inferior{
    text-align: center;
}


.tarjeta{
    margin: 35px auto;
    height: 350px;
    padding: 15px;
}

.arriba{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 255, 0.2);
    backdrop-filter: blur(2px);
    border-radius: 15px;
    padding: 2%;
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;
    grid-template-columns: 20% auto;
    justify-content: center;
    align-items: center;
}

.arriba p{
    width: max-content;
}

.arriba img{
    width: 25px;
}

.foto img{
    width: 160px;
    height: 200px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    clip-path: polygon(0 0, 100% 0, 50% 110%);
}





